[submodule "src/asr/submodules/mimic-recording-studio"]
	path = src/asr/submodules/mimic-recording-studio
	url = https://github.com/MycroftAI/mimic-recording-studio.git
[submodule "src/asr/submodules/ctcdecode"]
	path = src/asr/submodules/ctcdecode
	url = https://github.com/WayenVan/ctcdecode.git
