pyarrow
# pandas[performance, parquet, aws]
pendulum
lightning
python-dotenv
librosa
pyaudio
pydub
soundfile
scikit-learn
pandas
matplotlib
# Needs numpy<2.0.0 for ASR CTCDecoder dependency 
numpy==1.26.4 	
comet-ml
# sox
flask
fastapi
uvicorn